body{
    background-color: rgb(205, 254, 164); 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#heading{
    color: rgb(255, 0, 153);
}
.group1{
    color: blueviolet;
}
#data{
    display: block;
}